<launch>
    <arg name="input_topic_points" default="/head_camera/depth_registered/points" />
    <arg name="elevator_door_frame_id" default="/eng2/7f/elevator_door" />
    <arg name="prefix" default=""/>

    <node pkg="nodelet" type="nodelet" name="$(arg prefix)elevator_detection_door_detector_attention_clipper" args="standalone jsk_pcl/AttentionClipper">
        <remap from="~input/points" to="$(arg input_topic_points)" />
        <rosparam subst_value="true">
            initial_pos: [0, 0, 0]
            initial_rot: [0, 0, 0]
            dimension_x: 1.0
            dimension_y: 1.0
            dimension_z: 0.8
            frame_id: $(arg elevator_door_frame_id)
        </rosparam>
    </node>
    <node pkg="jsk_pcl_ros" type="extract_indices" name="$(arg prefix)elevator_detection_door_detector_extract_indices">
        <remap from="~input" to="$(arg input_topic_points)" />
        <remap from="~indices" to="/$(arg prefix)elevator_detection_door_detector_attention_clipper/output/point_indices" />
        <remap from="~output" to="/elevator_operation/elevator_door_points" />
    </node>
    <node pkg="elevator_operation" type="elevator_door_opening_checker.py" name="$(arg prefix)elevator_door_opening_checker">
        <remap from="~input" to="/elevator_operation/elevator_door_points" />
    </node>
</launch>
