<launch>
    <arg name="input_topic_points" />
    <arg name="elevator_door_frame_id" />

    <!-- elevator door detector -->
    <node
        pkg="nodelet"
        type="nodelet"
        name="elevator_detection_door_detector_attention_clipper"
        args="standalone jsk_pcl/AttentionClipper"
        >
        <remap from="~input/points" to="$(arg input_topic_points)"/>
        <rosparam subst_value="true">
            initial_pos: [0, 0, 0.5]
            initial_rot: [0, 0, 0]
            dimension_x: 0.5
            dimension_y: 0.5
            dimension_z: 0.8
            frame_id: $(arg elevator_door_frame_id)
        </rosparam>
    </node>
    <node
        pkg="jsk_pcl_ros"
        type="extract_indices"
        name="elevator_detection_door_detector_extract_indices"
        >
        <remap from="~input" to="$(arg input_topic_points)"/>
        <remap from="~indices" to="elevator_detection_door_detector_attention_clipper/output/point_indices"/>
        <remap from="~output" to="/elevator_operation/elevator_door_points"/>
    </node>

</launch>
