<launch>
    <arg name="initial_floor" default="7" />
    <arg name="launch_spinal" default="true" />
    <arg name="device_spinal" default="/dev/ttyUSB0" />

    <!-- elevator operation server -->
    <node pkg="elevator_operation" type="elevator_state_publisher.py" name="elevator_state_publisher" output="log">
        <remap from="~input_altitude" to="/spinal_altitude" />
        <remap from="~input_accel" to="/spinal_accel" />
        <remap from="~change_floor" to="/change_floor_server/input" />

        <rosparam subst_value="true">
            initial_floor: $(arg initial_floor)
            threshold_altitude: 1
            threshold_accel: 0.2
        </rosparam>
        <rosparam
            ns="elevator_config"
            command="load"
            file="$(find elevator_operation)/config/config_state_publisher.yaml"
            />
    </node>

    <include
        file="$(find elevator_operation)/launch/spinal_driver.launch"
        if="$(arg launch_spinal)" >
        <arg name="device_spinal" value="$(arg device_spinal)" />
    </include>

</launch>
