<launch>
    <arg name="ROSBAG_FILE" />
    <arg name="input_topic_points" default="/head_camera/depth_registered/points" />

    <node
        pkg="rosbag"
        type="record"
        name="elevator_operation_rosbag_record"
        output="screen"
        args="-O $(arg ROSBAG_FILE)
        /elevator_door_opening_checker/output
        /spinal/imu
        /spinal/baro
        /lowpass_filter/output
        /change_floor_server/input
        "
        />
</launch>
